.about-us {
  padding: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
}

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__list-items {
  position: relative;
  display: block;
  padding-top: 80px;
}

.about-us__first {
  width: 170px;

  &::before {
    background: transparent url("../img/icon-feature-flower.svg") no-repeat;
  }
}

.about-us__second {
  width: 200px;

  &::before {
    background: transparent url("../img/icon-feature-money.svg") no-repeat;
  }
}

.about-us__third {
  width: 180px;

  &::before {
    background: transparent url("../img/icon-feature-heart.svg") no-repeat;
  }
}

.about-us__fourth {
  width: 200px;

  &::before {
    background: transparent url("../img/icon-feature-ball.svg") no-repeat;
  }
}

.about-us_fifth {
  width: 280px;

  &::before {
    background: transparent url("../img/icon-feature-rocket.svg") no-repeat;
  }
}

.about-us__sixth {
  width: 200px;

  &::before {
    background: transparent url("../img/icon-feature-gift.svg") no-repeat;
  }
}

.about-us__list-items {
  &::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 55px;
  height: 55px;
}
