.about-us {
  padding: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  &__title {
    font-size: 25px;
    line-height: 30px;

  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

  }

  &__list-items {
    position: relative;
    display: block;
    padding-top: 80px;
  }

  &__first {
    width: 170px;
    &::before {
      background: transparent url("../img/icon-feature-flower.svg") no-repeat;
}
}

  &__second {
    width: 200px;
    &::before {
      background: transparent url("../img/icon-feature-money.svg") no-repeat;
    }
  }

  &__third {
    width: 180px;
    &::before {
      background: transparent url("../img/icon-feature-heart.svg") no-repeat;
    }
  }

  &__fourth {
    width: 200px;
    ::before {
      background: transparent url("../img/icon-feature-ball.svg") no-repeat;
    }
  }

  &_fifth {
    width: 280px;
    ::before {
      background: transparent url("../img/icon-feature-rocket.svg") no-repeat;
    }
  }

  &__sixth {
    width: 200px;
    ::before {
      background: transparent url("../img/icon-feature-gift.svg") no-repeat;
    }
  }
}

.about-us__list-items {
  &::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  width: 55px;
  height: 55px;
}

}
