$tablet-width: 768px;
$desktop-width: 1150px;

.catalog {
  width: 320px;
}

.catalog__title {
  font-size: 27px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  height: 180px;
  padding-top: 70px;
  margin: 0;
  text-align: center;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.catalog__wrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.catalog__item {
  border: 1px solid #ececec;
  margin-bottom: 32px;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__item-image {
  width: 260px;
  margin-bottom: 4px;
}

.catalog__item-title {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000;
  padding-left: 28px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.catalog__item-description {
  display: block;
  font-size: 13px;
  line-height: 23px;
  color: #444444;
  padding-left: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid #444444;
}

.catalog__presentation {
  display: flex;
  justify-content: space-between;
  width: 233px;
  margin: 0 auto;
  padding: 23px 28px;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000;
}

.catalog__bascket {
  position: relative;
  font-size: 0;
  padding: 11px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: transparent url("../img/icon-cart.svg") no-repeat;
  }
}

.catalog__title-video {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding-left: 89px;
  padding-top: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 32px;
    width: 35px;
    height: 25px;
    background: transparent url("../img/icon-video.svg") no-repeat;
  }
}

.catalog__item-videoblock {
  width: 260px;
  height: 190px;
}

.catalog__item-videoblock .catalog__item-description {
  padding-left: 32px;
  width: 190px;
  font-size: 13px;
  line-height: 24px;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.catalog__bascket-btn {
  width: 220px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #444444;
  border: 2px solid #444444;
  background-color: transparent;
  padding: 15px 31px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #ffffff;
    background-color: #444444;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 668px;
  }

  .catalog__title {
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
  }

  .catalog__item {
    display: flex;
  }

  .catalog__item-image {
    width: 334px;
  }

  .catalog__item-wrap {
    width: 334px;
  }

  .catalog__item-videoblock {
    display: flex;
    flex-direction: column;
    width: 668px;
    height: 747px;
  }

  .catalog__item-video {
    width: 668px;
    order: -1;
  }

  .catalog__title-video {
    font-size: 20px;
  }

  .catalog__item-videoblock .catalog__item-description {
    width: 668px;
    padding: 20px 42px;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__bascket-btn {
    display: block;
    width: 584px;
    text-align: center;
    padding: 28px 200px;
    white-space: nowrap;
    margin-left: 0;
  }
}


@media (min-width: $desktop-width) {
  .catalog {
    width: 1050px;
    margin: 30px auto;
  }

  .catalog__title {
    font-size: 27px;
    line-height: 30px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    height: 180px;
    padding-top: 70px;
    margin: 0;
    text-align: center;
    background-color: #f1f1f1;
    box-sizing: border-box;
  }

  .catalog__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
  }

  .catalog__item {
    flex-direction: column;
    width: 318px;
  }

  .catalog__item-image {
    width: 310px;
  }

  .catalog__item-wrap {
    width: 334px;
  }

  .catalog__item-videoblock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    width: 668px;
    height: 747px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .catalog__item-video {
    width: 695px;
    height: 465px;
    order: 10;
  }

  .catalog__title-video {
    width: 200px;
  }

  .catalog__item-videoblock .catalog__item-description {
    width: 237px;
    padding: 20px 42px;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog__bascket-btn {
    display: block;
    width: 229px;
    text-align: center;
    padding: 28px;
    white-space: nowrap;
    margin-left: 0;
  }
}
