$greenFon: #63d1bb;

.categories {
  display: flex;
  flex-direction: column;
}

.categories__separator {
  display: block;
}

.categories__item:first-child {
  min-height: 355px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat;
  background-size: cover;
  padding-top: 75px;
  box-sizing: border-box;
  text-align: center;
}

.categories__item:nth-child(2) {
  position: relative;
  transform: translateY(-90px);
  width: 100%;
  background-color: $greenFon;
  z-index: 1;

  &:hover {
    background-color: #59d5bc;
  }

  &:active {
    opacity: 0.3;
  }
}

.categories__item:nth-child(3) {
  position: relative;
  transform: translateY(-90px);
  width: 100%;
  background-color: darken($greenFon, 10%);
  z-index: 1;

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.categories__item-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 110px;
  padding: 30px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: -150%;
    width: 40px;
    height: 62px;
  }
}

.categories__item:nth-child(2) .categories__item-link::before {
  background: transparent url("../img/icon-interior-green.svg") no-repeat;
  opacity: 0.5;
}

.categories__item:nth-child(3) .categories__item-link::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -160%;
  width: 60px;
  height: 62px;
  background: transparent url("../img/icon-toy-green.svg") no-repeat;
  opacity: 0.5;
}

.categories__item:hover .categories__item-link::before {
  opacity: 0.3;
}

.categories__item:active .categories__item-link::before {
  opacity: 0.7;
}
