$greenFon: #63d1bb;

.categories__item {
  display: block;
}

.categories__item:first-child {
  min-height: 355px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat;
  background-size: cover;
  padding-top: 75px;
  box-sizing: border-box;
  text-align: center;
}

.categories__item:nth-child(2),
.categories__item:nth-child(3) {
  position: relative;
  transform: translateY(-90px);
  width: 100%;
  background-color: $greenFon;
  z-index: 1;
}

.categories__item:nth-child(3) {
  background-color: darken($greenFon, 10%);
}

.categories__item:nth-child(2) span,
.categories__item:nth-child(3) span{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 110px;
  padding: 30px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.categories__item:nth-child(2) span::before,
.categories__item:nth-child(3) span::before {
  content:"";
  position: absolute;
  top: 20px;
  right: -300px;
  width: 40px;
  height: 62px;
  background-color: red;
}

.categories__item:nth-child(2) span::before {
  background: transparent url("../img/icon-interior.svg") no-repeat;
}

.categories__item:nth-child(3) span::before {
  width: 60px;
  height: 60px;
  right: -305px;
  background: transparent url("../img/icon-toy.svg") no-repeat;
}
