.copyright {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 76px;
  margin: auto;
  border-top: 2px solid #e5e5e5;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
}

.copyright__link {
  position: relative;
  font-size: 0;
  padding: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: transparent url("../img/htmlacademy.svg") no-repeat 50%;
  }
}
