$tablet-width: 768px;
$desktop-width: 1200px;

.main-presentation {
  margin-top: -90px;
  padding: 0 30px;
  border-bottom: 10px solid gray;
  /*border-image-source: url("");
  border-image-slice: 50;*/
  padding-bottom: 30px;
}

.main-presentation__wrap {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.main-presentation__title {
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.main-presentation__leed {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #63d1bb;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.main-presentation__description {
  width: 250px;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 4px;
}

.main-presentation__characteristics {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

.main-presentation__characteristics td {
  border-bottom: 2px solid #ececec;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.main-presentation__image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.main-presentation__price {
  display: block;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding: 30px;
}

.main-presentation__btn {
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #444444;
  border: 2px solid #444444;
  background-color: transparent;
  padding: 14px 30px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #ffffff;
    background-color: #444444;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-presentation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
    margin-top: -260px;
  }

  .main-presentation__wrap {
    width: 668px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main-presentation__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0;
    margin: 0;
  }

  .main-presentation__leed {
    display: block;
    width: 75px;
    font-size: 17px;
    line-height: 17px;
    padding: 0;
    margin: 0;
  }

  .main-presentation__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
    height: 415px;
  }

  .main-presentation__description {
    width: 334px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 4px;
  }

  .main-presentation__characteristics {
    width: 334px;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 20px;
  }

  .main-presentation__image {
    width: 260px;
    height: 415px;
    padding: 0;
    margin: 0;
    order: 9;
  }

  .main-presentation__price {
    width: 334px;
    text-align: center;
  }

  .main-presentation__btn {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .main-presentation {
    width: 1050px;
    margin: auto;
    margin-top: -160px;
  }

  .main-presentation__wrap {
    width: 700px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main-presentation__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0;
    margin: 0;
  }

  .main-presentation__leed {
    display: block;
    width: 75px;
    font-size: 17px;
    line-height: 17px;
    padding: 0;
    margin: 0;
  }

  .main-presentation__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
    height: 415px;
    margin-left: 175px;
  }

  .main-presentation__description {
    width: 350px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 4px;
  }

  .main-presentation__characteristics {
    width: 350px;
    border-collapse: collapse;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 20px;
  }

  .main-presentation__image {
    width: 350px;
    height: 415px;
    padding: 0;
    margin: 0;
    order: 9;
  }

  .main-presentation__price {
    width: 350px;
    text-align: center;
  }

  .main-presentation__btn {
    width: 350px;
  }
}
