.main-presentation {
  margin-top: -105px;
  padding: 0 30px;
  border-bottom: 10px solid gray;
  /*border-image-source: url("");*/
  border-image-slice: 50;
  padding-bottom: 30px;
}

.main-presentation__title {
  font-size: 25px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.main-presentation__leed {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #63d1bb;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.main-presentation__description {
  width: 250px;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 4px;
}

.main-presentation__characteristics {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

.main-presentation__characteristics td {
  border-bottom: 2px solid #ececec;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.main-presentation__image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.main-presentation__price {
  display: block;
  text-align: center;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding: 30px;
}

.main-presentation__btn {
  width: 100%;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #444444;
  border: 2px solid #444444;
  background-color: transparent;
  padding: 14px 30px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #ffffff;
    background-color: #444444;
    opacity: 0.3;
  }
}
