.modal {
  display: none;
  position: absolute;
  top: 1050px;
  left: 0;
  width: 100%;
  height: 340px;
  padding: 30px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.modal__block {
  border: none;
}

.modal__title {
  width: 150px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.modal__modal-leed {
  display: block;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  padding: 20px;
}

.modal__wrap {
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.modal__field {
  display: none;
}

.modal__relation {
  border: 1px solid #ececec;
  padding: 10px 20px;
  margin-right: 5px;
}

.modal__field:checked + .modal__relation {
  border-color: #63d1bb;
}

.modal__btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}
