.order {
  padding: 0;
}

.order__title {
  font-size: 27px;
  line-height: 30px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding: 70px 35px;
  margin: 0;
  color: #231f20;
  background-color: #f1f1f1;
}

.order__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding: 12px 30px;
}

.order__order-form {
  display: flex;
  flex-direction: column;
}

.order__relation {
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000;
}

.order__block {
  position: relative;
  border: none;
  border-top: 1px solid #63d1bb;
  padding: 0 30px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -5px;
    width: 20px;
    height: 10px;
    background-color: #ffffff;
  }
}

.order__type-title,
.order__color-title,
.order__contacts-title {
  font-size: 17px;
  line-height: 16px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  color: #63d1bb;
  padding-left: 0;
  padding-right: 20px;
  margin-bottom: 25px;
}

.order__type,
.order__color,
.order__contacts {
  display: flex;
  flex-direction: column;
}

.order__type {
  margin-bottom: 27px;
}

.order__color {
  margin-bottom: 5px;
}

.order__field-type,
.order__field-color {
  display: none;
}

.order__relation-type,
.order__relation-color {
  position: relative;
  padding: 10px 0 15px 60px;
}

.order__relation-color {
  padding-bottom: 35px;
}

.order__color-tiffany {
  padding-bottom: 28px;
}

.order__relation-type::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000000;
  border: 7px solid white;
  box-sizing: border-box;
}

.order__field-type:checked + .order__relation-type::before {
  background-color: #62d1ba;
}

.order__relation-color::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  box-sizing: border-box;
}

.order__field-color:checked + .order__relation-color::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 3px;
  width: 25px;
  height: 10px;
  border-bottom: 3px solid #444444;
  border-left: 3px solid #444444;
  transform: scale(0.7) rotate(-45deg);
}

.order__relation-contacts {
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding: 15px 0;
}

.order__contacts-name {
  padding-top: 5px;
  padding-bottom: 10px;
}

.order__contacts-surname {
  padding-top: 25px;
  padding-bottom: 10px;
}

.order__contacts-patronymic {
  padding-top: 23px;
  padding-bottom: 10px;
}

.order__field-contacts {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 10px;
}

.order__contacts-tel,
.order__contacts-email,
.order__contacts-description {
  position: relative;
  text-transform: uppercase;
  color: #63d1bb;
}

.order__contacts-tel {
  padding-top: 32px;
  padding-bottom: 17px;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 10px;
    border-bottom: 2px solid #63d1bb;
    transform: scale(0.77);
    z-index: -1;
  }
}

.order__contacts-email {
  padding-top: 32px;
  padding-bottom: 17px;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 10px;
    border-bottom: 2px solid #63d1bb;
    transform: scale(0.77);
    z-index: -1;
  }
}

.order__contacts-description {
  padding-top: 32px;
  padding-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100%;
    height: 10px;
    border-bottom: 2px solid #63d1bb;
    transform: scale(0.77);
    z-index: -1;
  }
}

.order__field-description {
  width: 258px;
  height: 142px;
  border: 2px solid #444444;
  padding: 15px 15px;
  box-sizing: border-box;
}

.order__contacts-hint {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  padding-left: 30px;
  padding-bottom: 20px;
}

.order__contacts-btn {
  display: block;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #444444;
  padding: 15px 45px;
  background-color: transparent;
  border: 2px solid #444444;
  margin: 0 auto;
  margin-bottom: 35px;
}


@media (min-width: $tablet-width) {
  .order {
    width: $tablet-width;
    margin: 0 auto;
  }

  .order__title {
    width: $tablet-width;
    font-size: 43px;
    line-height: 50px;
  }

  .order__description {
    font-size: 17px;
    line-height: 30px;
  }

  .order__order-form {
    display: flex;
    flex-direction: column;
  }

  .order__relation {
    font-size: 19px;
    line-height: 18px;
  }

  .order__block {
    border: none;
  }

  .order__type-title,
  .order__color-title,
  .order__contacts-title {
    position: absolute;
    top: 20px;
  }

  .order__contacts-title {
    left: -140px;
  }

  .order__type,
  .order__color {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
  }

  .order__contacts {
    width: 501px;
  }

  .order__type {
    margin-bottom: 27px;
  }

  .order__color {
    margin-bottom: 5px;
  }

  .order__color-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .order__color .order__relation {
    width: 200px;
  }

  .order__contacts-tel,
  .order__contacts-email,
  .order__contacts-description {
    position: relative;
    left: -150px;
    top: 50px;
  }

  .order__contacts-tel::before,
  .order__contacts-email::before,
  .order__contacts-description::before {
    border-bottom: none;
  }

  .order__field-description {
    width: 501px;
  }

  .order__contacts-hint {
    margin-left: auto;
    margin-top: 20px;
  }

  .order__btn-wrap {
    position: relative;
  }

  .order__contacts-btn {
    position: absolute;
    margin-right: 400px;
    bottom: -20px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    width: $desktop-width;
    margin: 0 auto;
  }

  .order__title {
    width: $desktop-width;
    font-size: 53px;
    line-height: 57px;
    text-align: center;
    margin-bottom: 120px;
  }

  .order__description {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  .order__order-form {
    display: flex;
    flex-direction: column;
  }

  .order__relation {
    font-size: 19px;
    line-height: 18px;
  }

  .order__block {
    border: none;
  }

  .order__type-title,
  .order__color-title,
  .order__contacts-title {
    position: absolute;
    top: 20px;
  }

  .order__contacts-title {
    left: -140px;
  }

  .order__type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
    padding: 30px;
  }

  .order__type .order__relation {
    margin-left: 300px;
  }

  .order__color {
    width: $desktop-width;
    padding: 30px;
    background-color: #f1f1f1;
    flex-wrap: wrap;
  }

  .order__color-wrap {
    margin-left: 300px;
  }

  .order__color .order__relation {
    width: 200px;
  }

  .order__contacts {
    width: 501px;
    margin-left: 167px;
  }

  .order__contacts-tel,
  .order__contacts-email,
  .order__contacts-description {
    position: relative;
    left: -150px;
    top: 50px;
  }

  .order__contacts-tel::before,
  .order__contacts-email::before,
  .order__contacts-description::before {
    border-bottom: none;
  }

  .order__field-description {
    width: 501px;
  }

  .order__contacts-hint {
    margin-left: auto;
    margin-top: 20px;
  }

  .order__contacts-btn {
    position: absolute;
    margin-right: 400px;
  }
}
