.order {
  padding: 30px;
}

.order__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #231f20;
}

.order__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.order__relation {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.order__block {
  position: relative;
  border: none;
  border-top: 1px solid #63d1bb;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -5px;
    width: 20px;
    height: 10px;
    background-color: #ffffff;
  }
}

.order__type-title,
.order__color-title,
.order__contacts-title {
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb;
}

.order__type,
.order__color,
.order__contacts {
  display: flex;
  flex-direction: column;
}

.order__field-type,
.order__field-color {
  display: none;
}

.order__relation-type,
.order__relation-color {
  position: relative;
  padding: 10px 0 10px 40px;
}

.order__relation-type::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000000;
  border: 7px solid white;
  box-sizing: border-box;
}

.order__field-type:checked + &__relation-type::before {
  background-color: #62d1ba;
}

.order__relation-color::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 30px;
  height: 30px;
  border: 2px solid #444444;
  box-sizing: border-box;
}

.order__field-color:checked + .order__relation-color::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 3px;
  width: 25px;
  height: 10px;
  border-bottom: 3px solid #444444;
  border-left: 3px solid #444444;
  transform: scale(0.7) rotate(-45deg);
}

.order__relation-contacts {
  padding: 15px 0;
}

.order__field-contacts {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 10px;
}

.order__contacts-tel,
.order__contacts-email,
.order__contacts-description {
  position: relative;
  text-transform: uppercase;
  color: #63d1bb;
}

.order__contacts-tel::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 35px;
  width: 100%;
  height: 10px;
  border-bottom: 2px solid #63d1bb;
  transform: scale(0.9);
  z-index: -1;
}

.order__contacts-email::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50px;
  width: 100%;
  height: 10px;
  border-bottom: 2px solid #63d1bb;
  transform: scale(0.8);
  z-index: -1;
}

.order__contacts-description::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 50px;
  width: 100%;
  height: 10px;
  border-bottom: 2px solid #63d1bb;
  transform: scale(0.8);
  z-index: -1;
}

.order__field-description {
  width: 100%;
}

.order__contacts-hint {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.order__contacts-btn {
  display: block;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #444444;
  padding: 15px 45px;
  background-color: transparent;
  border: 2px solid #444444;
  margin: 0 auto;
}
