.our-contacts {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 38px;
}

.our-contacts__wrap {
  padding: 20px 29px;
}

.our-contacts__title {
  font-size: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000;
  padding-bottom: 10px;
}

.our-contacts__email {
  padding-bottom: 20px;
}

.our-contacts__email,
.our-contacts__adress {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.our-contacts__email-title,
.our-contacts__adress-tile {
  padding-right: 10px;
  margin-right: 20px;
}

.our-contacts__email-adress {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.our-contacts__mailing-adress {
  width: 145px;
  margin-left: 30px;
}

.our-contacts__write-us {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  border: 2px solid #444444;
  padding: 13px;
  width: 227px;
  margin: 0 auto;
  text-align: center;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #ffffff;
    background-color: #444444;
    opacity: 0.3;
  }
}

.our-contacts__map {
  width: 100%;
  height: 450px;
  border: none;
  padding-bottom: 45px;
}
