.our-contacts {
  padding: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  &__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

  &__email,
  &__adress{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

  &__email-title,
  &__adress-tile {
  padding-right: 50px;
}

  &__email-adress {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

  &__mailing-adress {
  width: 145px;
}

  &__write-us {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  border: 2px solid #444444;
  padding: 15px 30px;
  text-align: center;
}
}
