$tablet-width: 768px;
$desktop-width: 1150px;

.page-header {
  display: flex;
  flex-direction: column;
  width: 260px;
  min-height: 80px;
  border-bottom: 2px solid #ececec;
}

.page-header__logo {
  width: 87px;
  margin: 0 auto;
  padding: 25px;
  padding-top: 22px;
  padding-bottom: 20px;

  &:active .page-header_logo-image {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  .page-header__logo {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
  }

  .page-header__logo-image {
    background-color: #000000;
    fill: #ffffff;
    border-radius: 15px;
    padding: 5px;
  }
}


@media (min-width: $desktop-width) {
  .page-header {
    width: 1050px;
    margin: 0 auto;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
