.page-header {
  min-width: 320px;
  min-height: 80px;
  border-bottom: 2px solid #ececec;
  .page-header__logo {
      display: block;
      width: 87px;
      margin: 0 auto;
      padding: 25px;
    }

}
