$tablet-width: 768px;
$desktop-width: 1150px;

.reviews {
  padding: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  border-bottom: 10px solid gray;
  /*border-image-source: url("");
  border-image-slice: 50;*/
  padding-bottom: 40px;
}

.reviews__title {
  font-size: 25px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: #000000;
}

.reviews__item {
  padding: 0;
  margin: 0;
}

.reviews__text {
  padding-bottom: 0;
  margin-bottom: 27px;
}

.reviews__author {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  padding-bottom: 5px;
}

.reviews__author-email {
  display: block;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 28px;
}

.revievs__togle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 40px;
}

.revievs__togle-link {
  width: 50%;
  border: 1px solid #ececec;
  display: block;
}

.revievs__arrov-back {
  font-size: 0;
  padding: 15px 65px;
  background: green /*url("") no-repeat 40px -1px*/;
}


.revievs__arrov-forward {
  font-size: 0;
  padding: 15px 35px;
  background: gray /*url("") no-repeat 40px -1px*/;
}

.reviews__btn {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  border: 2px solid #444444;
  padding: 15px 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 668px;
    height: 455px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 455px;
      background: gray url("../img/review@1x.jpg") no-repeat;
      z-index: -10;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
  }

  .revievs__togle {
    position: absolute;
    right: 1px;
    bottom: 100px;
    width: 167px;
  }

  .reviews__btn {
    position: absolute;
    right: 1px;
    top: 70px;
    width: 130px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1050px;
    height: 536px;
    margin: auto;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .revievs__togle {
    position: absolute;
    right: 1px;
    bottom: 100px;
    width: 167px;
  }

  .reviews__btn {
    position: absolute;
    right: 1px;
    top: 70px;
    width: 130px;
  }
}
