.reviews {
  padding: 30px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;


  &__title {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

  &__item {
  padding: 0;
  margin: 0;
}

  &__author {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

  &__author-email {
  font-size: 17px;
  line-height: 30px;
}
  &__togle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

  &__togle-link {
  width: 50%;
  border: 3px solid #ececec;
  display: block;
  margin-bottom: 20px;
}

  &__arrov {
  position: relative;
  width: 200px;
  height: 3px;
  background-color: #000000;
  color: transparent;

  &::after {
  content: "";
  position: absolute;

}
  }
  &__btn {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  border: 2px solid #444444;
  padding: 15px 30px;
  text-align: center;
}
}
