$tablet-width: 768px;
$desktop-width: 1200px;

.site-list {
  display: none;
  background-color: #ffffff;
  z-index: 99;

  &--active {
    display: block;
  }
}

.site-list__item {
  border-bottom: 2px solid #ececec;

  &:hover .site-list__item-link {
    opacity: 0.6;
  }

  &:active .site-list__item-link {
    opacity: 0.3;
  }
}

.site-list__item-link {
  display: block;
  color: #000000;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  padding: 30px 0 30px 75px;
}

.site-list__item:nth-child(3) .site-list__item-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icon-search.svg") no-repeat;
    opacity: 0.2;
  }
}

.site-list__item:nth-child(3):hover .site-list__item-link::before {
  background: transparent url("../img/icon-search-green.svg") no-repeat;
  opacity: 1;
}

.site-list__item:nth-child(3):active .site-list__item-link::before {
  background: transparent url("../img/icon-search-green.svg") no-repeat;
  opacity: 0.3;
}


.site-list__item:nth-child(4) .site-list__item-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 20px;
    background: transparent url("../img/icon-cart.svg") no-repeat;
    opacity: 0.2;
  }
}

.site-list__item:nth-child(4):hover .site-list__item-link::before {
  background: transparent url("../img/icon-cart_green.svg") no-repeat;
  opacity: 1;
}

.site-list__item:nth-child(4):active .site-list__item-link::before {
  background: transparent url("../img/icon-cart_green.svg") no-repeat;
  opacity: 0.3;
}

.site-list-additional {
  display: none;
}

.site-list__additional-item .site-list__item-link {
  white-space: nowrap;
  color: #000000;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: flex-start;
    width: 350px;
    margin-right: 60px;
    margin-left: auto;
  }

  .site-list__item {
    border: none;
    white-space: nowrap;
  }

  .site-list__item:first-child,
  .site-list__item:nth-child(2) {
    display: none;
  }

  .site-list__item:nth-child(3) {
    order: 0;
  }

  .site-list__item:nth-child(3) .site-list__item-link {
    position: relative;
    font-size: 0;
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #f1f1f1;
  }

  .site-list-additional {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 85px;
    left: -80px;
    width: 668px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: transparent;
  }

  .site-list__additional-item {
    margin: 0;
    padding: 0;
  }

  .site-list__additional-item:nth-child(3),
  .site-list__additional-item:nth-child(4) {
    display: none;
  }

  .site-list__additional-item:nth-child(5) {
    margin-left: auto;
  }

  .site-list__additional-item:nth-child(1) {
    margin-right: 20px;
  }

  .site-list__additional-item:last-child {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: flex-start;
    width: 1050px;
    margin: 0;
    list-style: none;
    background-color: transparent;
  }

  .site-list__item:first-child {
    margin: 0;
    padding: 0;
  }

  .site-list__item:first-child,
  .site-list__item:nth-child(2) {
    display: block;
  }

  .site-list__item:first-child .site-list__item-link {
    padding-left: 0;
    margin-left: 0;
  }

  .site-list__item:nth-child(2) {
    margin-right: auto;
  }

  .site-list__item:nth-child(3) {
    margin-left: auto;
  }

  .site-list__item {
    border: none;
  }

  .site-list-additional {
    width: 1050px;
    left: 0;
  }
}
