.site-list {
  display: none;
  min-width: 320px;
  margin: 0;
  padding: 10px 30px;
  list-style: none;
  background-color: #ffffff;
  z-index: 5;

  &--active {
  display: block;
}

  &__item {
  border-bottom: 2px solid #ececec;
    &:hover .site-list__item-link {
      opacity: 0.6;
    }

    .&:active .site-list__item-link {
      opacity: 0.3;
    }
}

  &__item-link {
  display: block;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  padding: 30px 75px;
}
}
