$tablet-width: 768px;
$desktop-width: 1150px;

.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.social__link {
  position: relative;
  font-size: 0;
  margin-right: 40px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 30px;
    height: 30px;
  }
}

.social__link--instagram::before {
  background: transparent url("../img/icon-insta.svg") no-repeat 50%;
}

.social__link--instagram:hover::before {
  background: transparent url("../img/icon-insta-green.svg") no-repeat 50%;
}

.social__link--instagram:active::before {
  background: transparent url("../img/icon-insta-green.svg") no-repeat 50%;
  opacity: 0.3;
}


.social__link--facebook::before {
  background: transparent url("../img/icon-fb.svg") no-repeat 50%;
}

.social__link--facebook:hover::before {
  background: transparent url("../img/icon-fb-green.svg") no-repeat 50%;
}

.social__link--facebook:active::before {
  background: transparent url("../img/icon-fb-green.svg") no-repeat 50%;
  opacity: 0.3;
}

.social__link--twitter::before {
  background: transparent url("../img/icon-twitter.svg") no-repeat 50%;
}

.social__link--twitter:hover::before {
  background: transparent url("../img/icon-twitter-green.svg") no-repeat 50%;
}

.social__link--twitter:active::before {
  background: transparent url("../img/icon-twitter-green.svg") no-repeat;
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-right: 300px;
  }
}
