.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 80px;
  padding-top: 40px;
  padding-bottom: 35px;
  box-sizing: border-box;
  border-bottom: 2px solid #e5e5e5;
}

.social__link {
  position: relative;
  padding: 15px;
  margin-right: 8px;
  margin-bottom: 30px;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 30px;
    height: 30px;
  }
}

.social__link--instagram::before {
  background: transparent url("../img/icon-insta.svg") no-repeat 50%;
}

.social__link--instagram:hover::before {
  background: transparent url("../img/icon-insta-green.svg") no-repeat 50%;
}

.social__link--instagram:active::before {
  background: transparent url("../img/icon-insta-green.svg") no-repeat 50%;
  opacity: 0.3;
}


.social__link--facebook::before {
  background: transparent url("../img/icon-fb.svg") no-repeat 50%;
}

.social__link--facebook:hover::before {
  background: transparent url("../img/icon-fb-green.svg") no-repeat 50%;
}

.social__link--facebook:active::before {
  background: transparent url("../img/icon-fb-green.svg") no-repeat 50%;
  opacity: 0.3;
}

.social__link--twitter::before {
  background: transparent url("../img/icon-twitter.svg") no-repeat 50%;
}

.social__link--twitter:hover::before {
  background: transparent url("../img/icon-twitter-green.svg") no-repeat 50%;
}

.social__link--twitter:active::before {
  background: transparent url("../img/icon-twitter-green.svg") no-repeat;
  opacity: 0.3;
}
