@import "fonts";
@import "page-header";
@import "main-nav";
@import "site-list";
@import "categories";
@import "main-presentation";
@import "about-us";
@import "reviews";
@import "our-contacts";
@import "page-footer";
@import "social";
@import "copyright";
@import "modal";
@import "catalog";
@import "order";

$tablet-width: 768px;
$desktop-width: 1200px;


body {
  max-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0 auto;
}


@media (min-width: $tablet-width) {
  body {
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    max-width: $desktop-width;
  }
}
